/* Your Website Styles */
body{
	background: url("../img/bg.png");
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #000000;
}
.wrapper{
    margin: 138px auto 60px auto;
    width: 80%;
    max-width: 788px;
    min-width: 356px;
    transition: all .25s;
 }
nav {
    background: teal;
    min-width: 283px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    line-height: .6em;  /*5px*/
    /*border-top: 12px solid ;*/
    border-bottom: 12px solid ;
    transition: all .2s;
}
nav img{
    width: 177px;
}
nav li:nth-child(1n+2) a{
    border-radius: 50px;
    padding: 22px 10px;
}

ul,
li{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
ul{
    width: 100%;
    margin: 3px auto;
    padding: 0;
    list-style: none;
    transition: all 1s;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

li{
    margin: 2px 18px;
    min-height: 71px;
    vertical-align: middle;
    align-items: center;
}
li a{
        font-style: normal;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: italic;
}
 img {
    max-width: 150%;
  }
  .symbol {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
	font-weight: lighter;
	font-size: 2.5em;
	margin: 0;
	color: #E6E9BE;
	background: #000000;
	width: 300px;
	padding: 0 0 10px 20px;
	border-radius:0  20px 0 20px;
	box-shadow: 5px 5px 5px #E6E9BE
}


h3 {
	margin: 10px 0 0 10px;
}


 /* Header */
.head {
	background: #FF6347;
	height: 200px;
	padding: 0 0 25px 0;
	border-radius: 20px;
	box-shadow: 5px 5px 5px black
}

/* Visual */
.Visual{
	background: #5EB03B;
	height: 200px;
	border-radius: 20px;
	padding: 0 0 25px 0;
	box-shadow: 5px 5px 5px black
}

.Visual p{
	padding: 10px;
}

/* Education */
.edu {
	background: #20B2AA;
	height: 200px;
	border-radius: 20px;
	padding: 0 0 25px 0;
	box-shadow: 5px 5px 5px black
}

.Skill {
	background: royalblue ;
	height: 200px;
	border-radius: 20px;
	padding: 0 0 25px 0;
	box-shadow: 5px 5px 5px black
}
/***************
	Hover States 
***************/

#email a:hover {
	background: url("../img/email.png") no-repeat left;
}

#Mobile a:hover {
	background: url("../img/Mobile.png") no-repeat left ;
}
a:hover{
	font-weight: bold;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}